.NewOrderPage {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color:white;
    height: 99vh;
    display: grid;
    grid-template-columns: 1.6fr 3.5fr 3fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
    background-image: url(https://mxc.imgix.net/2021/02/66-wide.jpg?auto=compress&fit=scale&fm=pjpg&h=1332&ixlib=php-3.3.1&w=2000&wpsize=wvc-XL&s=462ae8e90b263c2dfd6d3a954c97cd0a);
    background-size: cover;
  }
  
  .NewOrderPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3vmin 2vmin;
    background-image:url(https://mxc.imgix.net/2021/02/66-wide.jpg?auto=compress&fit=scale&fm=pjpg&h=1332&ixlib=php-3.3.1&w=2000&wpsize=wvc-XL&s=462ae8e90b263c2dfd6d3a954c97cd0a);
    background-size: cover;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    height: 94vh;

  }
  

