.UserLogOut {
    font-size: 1.5vmin;
    color: var(--text-light);
    text-align: center;
    background-color: hotpink;
    }
    
    .UserLogOut .email {
      font-size: smaller;
      background-color: blue;
    }