.UserLogOut {
    font-size: 1.5vmin;
    text-align: center;
    color: white;
    
    .username {
        font-size: large;
        padding: 0.3rem;
    }

    button{
        padding: 0.3rem;
        padding-bottom: 0.3rem;
        border-radius: 15px;
        background-color: rgb(233, 125, 239);
    color: white;

    }
}