.OrderListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .2vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 2vmin;
    cursor: pointer;
    background-color: red;
}

.OrderListItem > div> div:first-child {
    margin-bottom: .5vmin;
    background-color: blue;
}

.OrderListItem.selected {
    border-color: var(--orange);
    border-width: .2vmin;
    background-color: green;
    cursor: default;
}

.OrderListItem:not(.selected):hover {
    border-color: var(--orange);
    background-color: yellow;
    border-width: .2vmin;
    }