
.loginDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: black;
    color:white;
    position: relative;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/81/26/7d/81267dec1d4578c4a954894cf7609415.gif);
    background-size: cover;

    

    .modal{
        display: flex;
        flex-direction: row;
        width: 100vmin;
        justify-content: space-around;
        .loginSide{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .createAccount{
                align-self: center;
                padding: 1rem;
            }
            .createAccount:hover{
                color:rgb(43, 43, 127);
            }
        }
    }
    .text{
        color:white;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
    
    .loginText{
        font-size: larger;
        position: center;
        display: flex;
        flex-direction:column;
        justify-content: center;
        font-size: 7vmin;
        font-family: "Lucida Console", "Courier New", monospace;       
        
    }
    .loginForm{
        display: flex;
        flex-direction: column;
    }
    
    .inputText{
        padding: 1vmin;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    }
    .submit{
        color:white;
        background-color: black;
        height: 2rem;
        margin:0.5rem;
        width:20rem;
        border-color: white;
        border-width: 0.2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .page{
        display: flex;
        flex-direction: column;
        
    }
    
}
