
.loginDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: black;
    color:white;
    position: relative;
    height: 100vh;
    background-image: url(https://mxc.imgix.net/2021/02/66-wide.jpg?auto=compress&fit=scale&fm=pjpg&h=1332&ixlib=php-3.3.1&w=2000&wpsize=wvc-XL&s=462ae8e90b263c2dfd6d3a954c97cd0a);
    background-size: cover;
    
    
    
    .modal{
        display: flex;
        flex-direction: row;
        width: 100vmin;
        justify-content: space-around;
        .loginSide{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .createAccount{
                align-self: center;
                padding: 1rem;
            }
            .createAccount:hover{
                color:rgb(43, 43, 127);
            }
        }
    }
    .text{
        color:white;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
    
    .loginText{
        font-size: larger;
        position: center;
        display: flex;
        flex-direction:column;
        justify-content: center;
        font-size: 7vmin;
        font-family: "Lucida Console", "Courier New", monospace;       
        
    }
    .loginForm{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
    
    .inputText{
        border-radius: 1px;
        height: 1.5rem;
        background-color: white;
        width: 17rem;
    }
    .submit{
        border-radius: 1px;
        margin-top: 3rem;
        color:white;
        height: 1.5rem;
        width:17rem;
        border-color: white;
        background-color: black;
        
    }
    .page{
        display: flex;
        flex-direction: column;
        
    }
    
}
