.OrderDetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    margin-top: 1vh;
    max-height: 70vh;
    overflow-y: scroll;
    width: 35vw;
  }
  
  .OrderDetail .sectionHeading {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
  }
  
  .OrderDetail .lineItemContainer {
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
  }
  
  .OrderDetail .total {
    position: fixed ;
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    border-top: .5vmin solid white;
    
  }
  
  .OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--text-dark);
    width: 80%;
    
  }
  
  .OrderDetail .total span.right {
    display: flex;
    justify-content: flex-start;

  }
  
  .OrderDetail .slogan {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    position: absolute;
    top: 50vh;
    font-size: 2vmin;
  }
  .OrderDetail .checkout {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    position: absolute;
    margin-top: 0.7rem;
    margin-right: 1rem;
    font-size: 1rem;
    background-color: rgb(255, 175, 255);
    border-radius: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

