.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 4vmin;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    
    .imageUrl {
        height: 4vw;
        width: 4vw;
        font-size: 1rem;
        background-color: var(--tan-1);
        border: .1vmin solid var(--tan-3);
        border-radius: 1vmin;
        background-color: orangered;
    }
    
     .buy {
        display: flex;
        flex-direction: column;
        background-color: brown;
     
    }
    
    span {
        font-size: 1.7vw;
        text-align: center;
        color: var(--text-light);
    }
    
    .name {
        font-size: 2vw;
        text-align: center;
        color: var(--text-light);
    }
    .btnsm{
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 15px;
        background-color: rgb(248, 83, 130);
        color:white;
    }
}