
.NavBar{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:white;
    background-image: url(https://i.pinimg.com/originals/81/26/7d/81267dec1d4578c4a954894cf7609415.gif);
    background-size: cover;
    height: 5vmin;
    .center{
        font-size: larger;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        display: flex;
        flex-direction: row;
        margin-top: 2.2vmin;
        color: white;
    }
    a{
        color:white;
        padding-left: 2vmin;
        padding-right: 2vmin;
        text-decoration: none;
        color: white;
     }
    .questionMark{
    
    }
}


