.footer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 1vmin;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
.name {
    font-size: 100px;
    color:white;
    font-size: smaller;
}