.MenuList {
    background-color: var(--tan-1);
    border-radius: 2vmin;
    overflow-y: scroll;
    background-image: url(https://mxc.imgix.net/2021/02/66-wide.jpg?auto=compress&fit=scale&fm=pjpg&h=1332&ixlib=php-3.3.1&w=2000&wpsize=wvc-XL&s=462ae8e90b263c2dfd6d3a954c97cd0a);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    width: 48vw;
    height: 96vh;
    margin-top: 2.5vh;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    }