.signUp{
    background-image: url(https://mxc.imgix.net/2021/02/66-wide.jpg?auto=compress&fit=scale&fm=pjpg&h=1332&ixlib=php-3.3.1&w=2000&wpsize=wvc-XL&s=462ae8e90b263c2dfd6d3a954c97cd0a);
    background-size: cover;
    height:100vh;
    width: 100vw;;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
    color:white;
    font-size: 2rem;
    .title{
        font-family: "Lucida Console", "Courier New", monospace;  
        font-size: 7vmin;
        margin-bottom: 10vh;

    }
    .password{
        font-size: 2rem;
    }
    .signUpForm{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .inputText{
        width: 17rem;
        
    }
    .labels{
     
        margin-bottom: 3rem;
        font-size: large;
        color:white;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    .submit{
        margin-top: 3rem;
        color:white;
        width: 17.5rem;
        background-color: black;
        border-radius: 1px;
        border-color: white;
    }
    
}