.CategoryList {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    list-style: none;
    padding-left: 1rem;
    font-size: 1.7vw;
    border-radius: 25px;
    background-image:url(https://mxc.imgix.net/2021/02/66-wide.jpg?auto=compress&fit=scale&fm=pjpg&h=1332&ixlib=php-3.3.1&w=2000&wpsize=wvc-XL&s=462ae8e90b263c2dfd6d3a954c97cd0a);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    p{
        color:white;
        font-size: 1rem;
        width:100%;
        margin:0;
    }
    .title{
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: larger;
    }
    .li {
        padding: .6vmin;
        text-align: center;
        border-radius: .5vmin;
        margin-bottom: .5vmin;
    }
    
    .li:hover:not(.active) {
        cursor: pointer;
        background-color: var(--orange);
        color: var(--white);
    }
    
    .li.active {
        color: var(--text-dark);
        background-color: var(--tan-1);
        border: .1vmin solid var(--tan-3);
    }
}