
.LineItem {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 88%;
    display: grid;
    grid-template-columns: 17vw 5vw 10vw 5vw;
    color: var(--text-light);
    border-top: .1vmin solid var(--tan-3);
    font-size: 1.5vw;
    
    }
    .LineItem .divider {
        margin-left: 1vmin ;
        margin-right: 1vmin ;
        }
    .LineItem .itemPrice {
        margin-top: 1vmin;
        }
    .LineItem:last-child {
    border-bottom: .1vmin solid var(--tan-3);
    }
    
    .LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
    }
    
    .LineItem .extPrice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3vw;
    }
    
    .LineItem button {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15px;
    margin-left: 1rem;
    background-color: rgb(248, 83, 130);
    }
    .LineItem .nameAndPrice {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    
}
.LineItem .itemName {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 1vmin;
   
    }