.ContactPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    background-image:url(https://i.pinimg.com/originals/81/26/7d/81267dec1d4578c4a954894cf7609415.gif) ;
    background-size: cover;
    body{
        margin-top: 45vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .contactText{
            font-size: larger;
            color:white;
            background-size: cover;
            justify-self: center;
            align-self: center;    
            width:25vmin;
            height:25vmin;
        }
    }
}